<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button full>
    Postular
  </button>

  <ion-list>
    <ion-list-header>
      <h2>{{ job.title }}</h2>
      <p>{{ job.company }}</p>
    </ion-list-header>
    <ion-item>
      Lugar de Trabajo: {{ job.place }}
    </ion-item>
    <ion-item>
      Publicado: {{ job.date | date }}
    </ion-item>
    <ion-item>
      Salario: {{ job.salary }}
    </ion-item>
    <ion-item>
      Tipo de puesto: {{ job.type }}
    </ion-item>
    <ion-item>
      Area: {{ job.area }}
    </ion-item>
    <ion-item text-wrap text-justify>
      {{ job.description }}
    </ion-item>
    <ion-item text-wrap text-justify>
      {{ job.requirements }}
    </ion-item>
  </ion-list>


</ion-content>
