<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="profile">
    <ion-card-content>
      <ion-avatar style="width: 100px;margin: auto;">
        <img [src]="getAvatar(profile.avatar)" >
      </ion-avatar>
      <ion-item text-center>
        {{ profile.name }}
      </ion-item>
      <ion-item text-center>
        {{ profile.lastname }}
      </ion-item>
      <ion-item text-center>
        {{ profile.age }}
      </ion-item>
      <button ion-button full (click)="edit()">Editar</button>
    </ion-card-content>

  </ion-card>

</ion-content>
