<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Puestos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let job of jobs" (click)="openDetail(job)">
      <h2>{{ job.title }}</h2>
      <p>{{ job.company }} - {{ job.place }}</p>
    </ion-item>
  </ion-list>

</ion-content>
