<!--
  Generated template for the ProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Actualización de Perfil</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form" (submit)="save()">

    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-select formControlName="avatar">
        <ion-option *ngFor="let avatar of avatars">{{ avatar }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lastname: </ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Age: </ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>

    <button ion-button full [disabled]="form.invalid">Save</button>
  </form>

</ion-content>
