<ion-menu [content]="content">
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="logout()">
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>

    <ion-item menuClose *ngFor="let page of pages" (click)="goPage(page.component)">
      {{ page.title }}
    </ion-item>

  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
